.App{
  margin: 40px;
}
.main{
  display: flex;
}

.main img{
  width: 60%;
  height: 50%;
  border-radius: 20px;
}

.matter{
  width: 30%;
  height: 50%;
  margin-left: 50px;
}

.down-img{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.down-arrow-img{
  display: flex;
  justify-content: space-between;
  
}

.down-arrow-img img{
  width: 150px;
  height: 100px;
  margin: 10px;
  border-radius: 8%;
}

.down-arrow-img i{
  margin-top: 60px;
}

.play-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

i:hover{
  color: darkorange;
}

i:active{
  color: darkgreen;
}